<div class="grid-item">
  {% if project.redirect %}
  <a href="{{ project.redirect }}">
  {% else %}
  <a href="{{ project.url | relative_url }}">
  {% endif %}
    
    
    
  </a>
</div>

<div class="card hoverable">
        <div class="row no-gutters">
            <div class="col-sm-4 col-md-3">
                <img src="/assets/img/salvaneschi-profile.jpg" class="card-img img-fluid" alt="Prof. Dr. Guido Salvaneschi">
            </div>
            <div class="team col-sm-8 col-md-9">
                <div class="card-body">
                    <a href="/members/salvaneschi">
                    <h5 class="card-title">Prof. Dr. Guido Salvaneschi</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Head of the Programming Group</h6>
                    <p class="card-text">
                        I’m a (tenured) Associate Professor at the University of St.Gallen from September 2020. Before, I have been an assistant professor at TU Darmstadt, where I led the Reactive Software Systems group.

                    </p>
                    </a>
                    
                        <a href="mailto:guido.salvaneschi@unisg.ch" class="card-link"><i class="fas fa-envelope"></i></a>
                    
                    
                    
                        <a href="https://linkedin.com/in/guido-salvaneschi-7201668/" class="card-link" target="_blank"><i class="fab fa-linkedin"></i></a>
                    
                    
                        <a href="https://orcid.org/0000-0002-9324-8894" class="card-link" target="_blank"><i class="fab fa-orcid"></i></a>
                    
                    
                        <a href="https://twitter.com/guidosalva" class="card-link" target="_blank"><i class="fab fa-twitter"></i></a>
                    
                    
                    
                    <p class="card-text">
                        <small class="test-muted"><i class="fas fa-thumbtack"></i> School of Computer Science,  Office 64-114,  Torstrasse 25,  9000 St. Gallen, Switzerland
</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
  
