<!-- box start -->
<p>
    <div class="card hoverable">
        <div class="row no-gutters">
          <div class="col-sm-4 col-md-3">
               {% if project.img %}
        {% responsive_image_block %}
          path: {{ project.img }}
          alt: "project thumbnail"
        {% endresponsive_image_block %}
      {% endif %}
            </div> 
            <div class="team col-sm-8 col-md-9">
                <div class="card-body">
                     <a href="{{ project.url | relative_url }}">
                    <h5 class="card-title">{{ project.title }}</h5>
                    
                    <p class="card-text">
                       {{ project.description }}
                    </p>
                    </a>
                    {% if project.github %}
          <div class="github-icon">
            <div class="icon" data-toggle="tooltip" title="Code Repository">
              <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
            </div>
            {% if project.github_stars %}
            <span class="stars" data-toggle="tooltip" title="GitHub Stars">
              <i class="fas fa-star"></i>
              <span id="{{ project.github_stars }}-stars"></span>
            </span>
            {% endif %}
          </div>
          {% endif %}
                       <!-- <a href="mailto:pascal.weisenburger@unisg.ch" class="card-link"><i class="fas fa-envelope"></i></a>
                    
                    
                    
                    
                        <a href="https://orcid.org/0000-0003-1288-1485" class="card-link" target="_blank"><i class="fab fa-orcid"></i></a>
                    
                    
                    
                        <a href="https://github.com/pweisenburger" class="card-link" target="_blank"><i class="fab fa-github"></i></a>
                        -->
                    
                    
                    <p class="card-text">
                        <small class="test-muted"><i class="fas fa-thumbtack"></i>aaa</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</p>
<!-- box end -->
