<!-- box start -->


    
     <div class="col-sm-6 col-md-4 mb-3">
        
        <a href="https://www.rescala-lang.com/" class="no-decoration" target="_blank">
            
                <div class="card h-100 mx-2 hoverable">
                    
                    
                    <div class="card-header">
                        
                        <img src="/assets/img//projects/rescala.svg" alt="REScala">
                        
                    </div>
                    
                    <div class="card-body">
                        
                        <p class="card-text">Advanced functional reactive programming for the JVM and the Web.</p>
                    </div>
                </div>
                </a>
    </div>
    
   
    


<!-- box end -->
