---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

	<article>
		<div class="profile float-right">
			 {% if page.img %}
        {% responsive_image_block %}
          path: {{ page.img }}
          alt: "project thumbnail"
        {% endresponsive_image_block %}
      {% endif %}
			
			<div class="address">
				<p>
					<span class="name">{{ page.title }}</span>
						<br><a href="mailto:nafise.eskandani@de.abb.com"><i class="fas fa-envelope"></i> nafise.eskandani@de.abb.com</a>
						<br><a href="https://orcid.org/0000-0001-9761-6319" target="_blank"><i class="fab fa-orcid"></i> 0000-0001-9761-6319</a>
						<br><a href="https://twitter.com/NEskandani" target="_blank"><i class="fab fa-twitter"></i> NEskandani</a>
				</p>
				<p class="post">Wallstadter Str. 59<br> 68526 Ladenburg, Germany</p>
        </div>
      
    </div>
    {{ content }}
    
  </article>

</div>
